@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    /* Apply the scrollbar styles to this specific class */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #54B689;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .dark-scrollbar::-webkit-scrollbar-track {
    background: #1e2a3a;
  }
  
  .dark-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
  }

  